body {
    background-color: black;
    color: white;
}

input {
    cursor: pointer;
}

.radio_label {
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.radio_label:hover {
    background-color: gray;
    border: 2px solid aqua;
    border-radius: 10%;
}

.radio_active {
    background-color: gray;
    border: 2px solid aqua;
    border-radius: 10%;
}

.box {
    border: 1px dashed white;
    float: right;
}

.submitBtn {
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.submitBtn:hover {
    opacity: 0.6;
}