input {
    cursor: pointer;
}

.radioLabel {
    justify-content: center;
    align-content: center;
    word-wrap: normal;
    cursor: pointer;
    width: 10%
}

.radioLabel:hover {
    background-color: gray;
    border: 2px solid aqua;
    border-radius: 10%;
}

.radio_active {
    background-color: gray;
    border: 2px solid aqua;
    border-radius: 10%;
}

.box {
    border: 1px dashed white;
    float: right;
}

.submitBtn {
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.submitBtn:hover {
    opacity: 0.6;
}

.userInfoText {
    margin: 0;
    float: right;
}

.question {
    float: left;
}

header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  color: white;
}

article {
  float: right;
  padding: 20px;
  width: 50%;
  background-color: #f1f1f1;
  height: 300px;
}

section {
    display: flex;
    float: left;
    width: 100%;
}