body {
    background: radial-gradient(hsl(209 40% 32%), hsl(209 40% 16%));
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

input {
    cursor: pointer;
}

.radioLabel {
    justify-content: center;
    align-content: center;
    word-wrap: normal;
    cursor: pointer;
    width: 10%
}

.radioLabel:hover {
    background-color: gray;
    border: 2px solid aqua;
    border-radius: 10%;
}

.radio_active {
    background-color: gray;
    border: 2px solid aqua;
    border-radius: 10%;
}

.box {
    border: 1px dashed white;
    float: right;
}

.submitBtn {
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.submitBtn:hover {
    opacity: 0.6;
}

.userInfoText {
    margin: 0;
    float: right;
}

.question {
    float: left;
    width: 50%;
}

article,
#scores {
    background-color: rgb(0 0 0 / .1);
    color: rgba(255, 255, 255, .7);
    border-radius: 16px;
}

article {
  float: right;
  padding: 20px;
  width: 50%;
  height: 300px;
}

section {
    display: flex;
    float: left;
    width: 100%;
}